

:root {
    --navbar-cream: #f5e6d3;
    --cream-hover: #cfbea7;
    --olive-green: #6a9745;
    --main-green: #1b261d;
    --dark-olive: #3d2b1f;
    --paper-white: #fdfcf9;
    --gold-accent: #c5a059;
    --text-main: #2d2d2d;

    --main-red: #9f0303;
    --cta: #5b7f5f;
    --cta-hover: #3c543e;
}