nav {
    width: 100%;
    height: 95px;
    background-color: transparent;
    transition: background-color 0.3s ease;
    z-index: 9999;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}
.navbar .logo {
    font-size: 30px;
    font-family: 'playfair display';
    color: var(--navbar-cream);
    padding-left: 50px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar .logo:hover {
    color: var(--olive-green);
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: space-between !important;
    margin-right: 50px;
    list-style-type: none;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    font-size: 22px;
    font-family: 'playfair display';
    font-weight: 400;
    text-decoration: none;
    color: var(--navbar-cream);
    transition: all 0.3s ease;
    display: inline-block;
    position: relative;
}

.nav-links li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #556b2f;
    
    transform: scaleX(0); 
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
}

.nav-links li a:hover::after {
  transform: scaleX(1);
}    